<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Abstract:</b>
  <%= @book.abstract %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<% if @orders.size>0 %>
<table border="1">
  <tr>
    <th>Customer</th>
    <th>Ship to:</th>
  </tr>

  <% @orders.each do |order| %>
      <tr>
        <td><%= order.customer %></td>
        <td><%= order.ship_to %></td>
      </tr>
  <% end %>
</table>
    <% end %>



<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
