<%= form_for(@parking) do |f| %>
  <% if @parking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parking.errors.count, "error") %> prohibited this parking from being saved:</h2>

      <ul>
      <% @parking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :adres %><br />
    <%= f.text_field :adres %>
  </div>
  <div class="field">
    <%= f.label :pojemnosc %><br />
    <%= f.number_field :pojemnosc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
