<h1>Listing parkings</h1>

<table>
  <tr>
    <th>Adres</th>
    <th>Pojemnosc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parkings.each do |parking| %>
  <tr>
    <td><%= parking.adres %></td>
    <td><%= parking.pojemnosc %></td>
    <td><%= link_to 'Show', parking %></td>
    <td><%= link_to 'Edit', edit_parking_path(parking) %></td>
    <td><%= link_to 'Destroy', parking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parking', new_parking_path %>
